/* Add this CSS to your stylesheet */
.scrollable-content {
    max-height: 300px;
    /* Set a maximum height for the container */
    overflow-y: auto;
    /* Enable vertical scrolling */

    /* Style the scrollbar */
    scrollbar-width: thin;
    /* For Firefox */
    scrollbar-color: #ccc #f0f0f0;
    /* For Firefox */

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
    }

    &::-webkit-scrollbar-track {
        background-color: #f0f0f0;
    }
}

.nav-bar {
    font-size: medium;
    text-align: center;
}

.nav-bar li {
    background-color: seagreen;
    color: whitesmoke;
    /* Set the default background color */
    transition: background-color 0.3s ease;
    /* Add a smooth transition effect */
}

/* Styling for list items on hover */
.nav-bar li:hover {
    color: #fff;
    /* Set the text color on hover */
    background-color: #00BF80;
    /* Set the background color on hover */
}

.buttonStyle {
  background-color: rgb(127, 0, 255);
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 20px;
  display: block;
  transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Add box shadow for normal state */
  margin: 5px 10px 0px;
}

.buttonStyle:active {
  animation: upAndDown 0.3s alternate;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.6), 4px 0 8px rgba(0, 0, 0, 0.6); /* Pronounced left and right shadows for active state */
}

.buttonDefaultStyle2 {
  background-color: rgb(127, 0, 255);
  color: #FFFFFF;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  /*Addboxshadowfornormalstate*/ -webkit-border-radius: 10px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-border-radius: 6px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px); /* Adjust the value based on the desired bounce height */
    }
    60% {
      transform: translateY(-10px); /* Adjust the value based on the desired bounce height */
    }
  }
  
  @keyframes fade {
    0%, 100% {
      opacity: 1;
    }
    10%, 90% {
      opacity: 0.9;
    }
    20%, 80% {
      opacity: 0.8;
    }
    30%, 70% {
      opacity: 0.7;
    }
    40%, 60% {
      opacity: 0.6;
    }
    50% {
      opacity: 0.5;
    }
  }

  @keyframes upAndDown {
    0%, 100% {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
}
      
    50% {
      transform: translateY(5px);
    }
  }